#body {width: 100%;}

/*Contiene todo el html de la pagina*/
#Contenedor {width: 100%;}

/*Nombre de la empresa*/
#Marca h1 {margin-top: 0%;
           text-align: center;
           margin-bottom: 1%;
           font-size: xx-large;}

h1 {color: rgb(61, 196, 34);}

/*Contenedor del cuadro de busqueda y de los iconos*/
#arriba {display: flex;
         padding: 1% 0% 0% 0%;
         justify-content: space-between;
         height: 60%;}

/*Div que contiene el cuadro de busqueda y la img de la lupa*/
#Busqueda {width: 60%;
           height: 100%;}
#Cuadro {border: 1px solid black;
         height: 50%;
         display: flex;
         justify-content: space-around;
         align-items: center;}
#Input {justify-content: flex-start;
        width: 85%;
        height: 74%;
        border: 0px;}
#Input > input {width: 95%;
                height: 94%;
                border: 0;}
#Lupa {width: 13%;
       height: 100%;
       display: flex;
       align-items: center;}
#Lupa > img {height: 80%;
             padding-right: 1%;}

/*Div que contiene los iconos (imagen y el nombre abajo)*/
#Iconos {width: 37%;}
#Iconos1 {display: flex;
          justify-content: space-around;
          height: 40%;
          width: 100%;}
#Iconos1_1, #Iconos1_2, #Iconos1_3 {width: 25%;
                                    height: 100%;}
#Iconos1_1 > img {width: auto;
                  height: 100%;}
#Iconos1_2 > img {width: auto;
                  height: 100%;}
#Iconos1_3 > img {width: auto;
                  height: 100%;}

#Iconos2 {display: flex;
          justify-content: space-around;
          text-align: center;}
#Iconos2 > p {width: 25%;
              font-size: 50%;
              margin-top: 1%;}

/*Son las partes de la tabla que conforma el menu, que es el recudro verde.*/
table {border-collapse: collapse;
       width: 100%;
       text-align: center;}
th {border: 1px solid black;
    padding: 1%;
    background-color: rgb(61, 196, 34);
    transition: 1s;}
th > p {font-size: 80%;
        margin: 1% 0% 1% 0%;}
a {text-decoration: none;
   color: black;
   transition: 1s;}
th:hover {background-color: black;}
th:hover a {color: rgb(61, 196, 34);}

/*Menu que solo sera visible para desktop*/
#Menu2 {display: none;}

/*Pertenece al div Izquierda, dentro del div Exclusivo estan tres palabras y debajo de cada una de ellas la imagen*/
#Exclusivo {padding-top: 6%;}
#Encima {display: flex;
         justify-content: space-around;}
#Iz_a, #Medios_a, #Dr_a {display: flex;
                         align-items: flex-end;} 
#Iz_a > p {margin-bottom: 1%;
           color: rgb(61, 196, 34);}
#Medios_a > p {margin-bottom: 1%;
               color: rgb(61, 196, 34);}
#Dr_a > p {margin-bottom: 1%;
           color: rgb(61, 196, 34);}
#Debajo {display: flex;
         justify-content: space-between;}
#Iz_b, #Medios_b, #Dr_b {width: 28%;
                         display: flex;
                         justify-content: center;
                         align-items: flex-start;}

/*Este div contiene los divs abajo1 y abajo2, que juntos conforman el apartado de recogida de paquetes*/
#Abajo {border-bottom: 2px solid black;
        padding-top: 5%;}
#abajo1 {text-align: center;
         border-top: 2px solid black;
         border-right: 2px solid black;
         border-bottom: 1px solid black;
         border-left: 2px solid black;
         background-color: rgb(61, 196, 34);}
#abajo1 > p {margin: 2% 0% 2% 0%;
             color: white;}
#abajo2 {display: flex;
         justify-content: space-around;
         border-top: 1px solid black;
         border-right: 2px solid black;
         border-left: 2px solid black;}
#abajo2 > p {margin: 2% 0% 2% 0%;
             color: rgb(61, 196, 34);}

/*Este div contiene los divs Recarga1 y Recarga2, que juntos conforman el apartado de con que marcas se trabajan para la recarga*/
#Recarga {padding-top: 5%;}
#Recarga1 {text-align: center;
           color: rgb(61, 196, 34);}
#Recarga1 > p {margin-bottom: 0%;}
#Recarga2 {width: 100%;  /*Esto hace que ocupe el 100% del ancho y alto del contenedor*/
           height: 100%;
           overflow-x: scroll; /*Esto es para que aparezca la barra horizontal ya que se a indicado que debe estar en el eje x, ademas esto permite que se puedan ver las demas fotos sin que toda la pagina se desplace con ella*/
           } 

#fotos {display: flex;}
#fotos > img {flex: 0 0 50%; /*La etiqueta es un atajo que al poner 3 parametros, se indica el crecimiento, decrecimiento y su tamaño base*/
              box-sizing: border-box; /*Esto es para que en vez de que se calcule con el content-box, que calcula el tamaño del elemento con width y hight y despues le suma el padding y border. Use el box-sizing ya que el padding y el border pasan a formar parte del calculo del width, por lo que ya no se suman sus valores despues.*/ 
              padding: 1% 7% 7% 7%;}

/*Este div incluye los divs Mapa1 y Mapa2, juntos conforman el apartado de donde se puede encontrar la tienda, es decir, su direccion*/
#Mapa {padding: 5% 0% 0% 0%;}
#Mapa1 > p {color: rgb(61, 196, 34);
            text-align: center;
            margin-bottom: 2%;}
#Mapa2 {display: flex;
        height: 50vh;}


@media screen and (min-width:768px) {
       #Marca > h1 {margin-top: 0%;
                    text-align: center;
                    margin-bottom: 1%;
                    font-size: 350%;}
       
       #Busqueda {width: 70%;}
       #Cuadro {height: 60%;}

       #Input {width: 90%;}
       #Input > input {width: 98%;
                       height: 100%;
                       border: 0;
                       font-size: 140%;}

       #Lupa {width: 7%;}
       #Lupa > img {height: 80%;
                    padding-right: 0%;}

       #Iconos {width: 29%;}
       #Iconos1 {height: 50%;}
       #Iconos1_1, #Iconos1_2, #Iconos1_3 {width: 22%;
                                           height: 100%;}
       #Iconos2 > p {width: 25%;
                     font-size: 80%;
                     margin-top: 1%;}

       th {padding: 0%;}
       th > p {font-size: 120%;}

       #Menu2 {display: none;}

       #Iz_a > p {font-size: 150%;}
       #Medios_a > p {font-size: 150%;}
       #Dr_a > p {font-size: 150%;}

       #abajo1 > p {font-size: 160%;}
       #abajo2 > p {font-size: 160%;}

       #Recarga1 > p {font-size: 160%;}

       #Mapa1 > p {font-size: 160%;}
}

@media screen and (min-width: 1280px) {
       #Marca > h1 {font-size: 400%;
                    margin-bottom: 0%;}

       #Busqueda {width: 78%;}
       #Lupa {width: 5%;}
       
       #Iconos {width: 19%;}
       #Iconos1 {height: 60%;}
       #Iconos2 > p {font-size: 92%;}

       #Bloque {display: flex;
                height: 43vh;
                width: 98%;}

       #Menu {display: none;} /*Para que no aparezca esta parte del html en la pagina*/
       #Menu2 {display: flex; /*Para que aparezca esta parte del html en la pagina*/
               width: 10%;
               background: white;
               transition: 1s;}
       #Menu2 > * {margin: 0%; /* El simbolo (*) se refiere a que dentro del contenedor Menu2, todos los valores que se establezcan modificaran cada elemento que conforma este contenedor*/
                   padding: 0%;
                   box-sizing: border-box;}
       #Menu2_2 {transition: 0.3s; /*Se usa para establecer el tiempo que debe pasar desde que el cursor se pone encima hasta que llegue al lugar indicado, haciendo que el cambio no sea muy brusco*/
                 padding: 2% 2% 2% 0%;
                 width: 80%;}
       #Menu_Contenido {padding: 0% 0% 0% 2%;
                        margin: 0%;}
       #Menu_Contenido > li {list-style: none;
                             border-radius: 0px 50px 50px 0px;
                             transition: 0.3s;
                             margin-bottom: 2%;
                             padding-left: 0%;}
       #Menu_Contenido > li > a {text-decoration: none;
                                 color: rgb(61, 196, 34);
                                 display: flex;
                                 align-items: center;
                                 font-family: 'Gill Sans', 'Gill Sans MT', 'calibri', 'Trebuchet MS', sans-serif;}
       .Simbolo {font-size: 200%;
                 margin-right: 1%;
                 background: black;
                 border-radius: 50%; /*Esto redondea las esquinas del padding, haciendo que con el balor del 50%, se obtenga bordes curveados*/
                 padding: 1.5%;}

       #Menu_Contenido > li:hover {background: black;}
       .Nombre {display: none;} /*Esto hace que el contenido al que se refiere dicha clase no se muestre en la pagina*/
       #Menu2:hover {width: 20%;}
       #Menu2_2:hover {width: 100%;}
       #Menu2_2:hover .Nombre {display: block;} /*Al poner display:block; hace que el contenido que hay en dicha clase aparezca cuando el cursor este encima del contenedor Menu2_2*/

       #Izquierda {transition: 1s;
                   width: 100%;}
       #Exclusivo {padding-top: 0%;}
       #Encima {height: 4vh;}
       #Iz_a > p {font-size: 170%;}
       #Medios_a > p {font-size: 170%;}
       #Dr_a > p {font-size: 170%;}

       #Abajo {padding-top: 2%;}
       #abajo1 > p {font-size: 180%;}
       #abajo2 > p {font-size: 180%;}

       #Recarga1 > p {font-size: 180%;}

       #fotos > img {flex: 0 0 33%; /*Al poner 33% consigo que el tamaño base de cada foto ocupe el 33% del width del contenedor Recarga2, consiguiendo que se muestren 3 fotos en vez de 2*/
                     }


       #Mapa1 > p {font-size: 180%;
                   margin-bottom: 1%;}
       #Mapa2 {display: flex;
               height: 70vh;}
}
