#body {width: 100%;}
#Contenedor {width: 100%;}
#Marca h1 {margin-top: 0%;
           text-align: center;
           margin-bottom: 1%;
           font-size: xx-large;}
h1 {color: rgb(61, 196, 34);}
#arriba {display: flex;
         padding: 1% 0% 0% 0%;
         justify-content: space-between;}

#Busqueda {width: 60%;}
#Cuadro {border: 1px solid black;
         height: 50%;
         display: flex;
         justify-content: space-around;
         align-items: center;}
#Input {justify-content: flex-start;
        width: 85%;
        height: 80%;
        border: 0px;}
#Input > input {width: 95%;
                height: 100%;
                border: 0;}
#Lupa {width: 13%;
       height: 100%;
       display: flex;
       align-items: center;}
#Lupa > img {height: 80%;
             padding-right: 1%;}
#Iconos {width: 37%;}
#Iconos1 {display: flex;
          justify-content: space-around;
          height: 40%;
          width: 100%;}
#Iconos1_1, #Iconos1_2, #Iconos1_3 {width: 25%;
                                    height: 100%;}
#Iconos1_1 > img {width: auto;
                  height: 100%;}
#Iconos1_2 > img {width: auto;
                  height: 100%;}
#Iconos1_3 > img {width: auto;
                  height: 100%;}

#Iconos2 {display: flex;
          justify-content: space-around;
          text-align: center;}
#Iconos2 > p {width: 25%;
              font-size: 50%;
              margin-top: 1%;}

table {border-collapse: collapse;
       width: 100%;
       text-align: center;}
th {border: 1px solid black;
    padding: 1%;
    background-color: rgb(61, 196, 34);}
th > p {font-size: 80%;
        margin: 1% 0% 1% 0%;}

#Exclusivo {padding-top: 6%;}
#Encima {display: flex;
         justify-content: space-around;}
#Iz_a, #Medios_a, #Dr_a {display: flex;
                         align-items: flex-end;} 
#Iz_a > p {margin-bottom: 1%;
           color: rgb(61, 196, 34);}
#Medios_a > p {margin-bottom: 1%;
               color: rgb(61, 196, 34);}
#Dr_a > p {margin-bottom: 1%;
           color: rgb(61, 196, 34);}
#Debajo {display: flex;
         justify-content: space-between;}
#Iz_b, #Medios_b, #Dr_b {width: 28%;
                         display: flex;
                         justify-content: center;
                         align-items: flex-start;}

#Abajo {border-bottom: 2px solid black;
        padding-top: 5%;}
#abajo1 {text-align: center;
         border-top: 2px solid black;
         border-right: 2px solid black;
         border-bottom: 1px solid black;
         border-left: 2px solid black;
         background-color: rgb(61, 196, 34);}
#abajo1 > p {margin: 2% 0% 2% 0%;
             color: white;}
#abajo2 {display: flex;
         justify-content: space-around;
         border-top: 1px solid black;
         border-right: 2px solid black;
         border-left: 2px solid black;}
#abajo2 > p {margin: 2% 0% 2% 0%;
             color: rgb(61, 196, 34);}

#Recarga {padding-top: 5%;}
#Recarga1 {text-align: center;
           color: rgb(61, 196, 34);}
#Recarga1 > p {margin-bottom: 0%;}
#Recarga2 {width: 100%;  /*Esto hace que ocupe el 100% del ancho y alto del contenedor*/
           height: 100%;
           overflow-x: scroll; /*Esto es para que aparezca la barra horizontal ya que se a indicado que debe estar en el eje x, ademas esto permite que se puedan ver las demas fotos sin que toda la pagina se desplace con ella*/
           } 

#fotos {display: flex;}
#fotos > img {flex: 0 0 50%; /*La etiqueta es un atajo que al poner 3 parametros, se indica el crecimiento, decrecimiento y su tamaño base*/
              box-sizing: border-box; /*Esto es para que en vez de que se calcule con el content-box, que calcula el tamaño del elemento con width y hight y despues le suma el padding y border. Use el box-sizing ya que el padding y el border pasan a formar parte del calculo del width, por lo que ya no se suman sus valores despues.*/ 
              padding: 1% 7% 7% 7%;}
#Mapa {padding: 5% 0% 0% 0%;}
#Mapa1 > p {color: rgb(61, 196, 34);
            text-align: center;
            margin-bottom: 2%;}
#Mapa2 {display: flex;}
#Mapa2 > img {flex: 0 0 100%;}

@media screen and (min-width:768px) {
       #Marca > h1 {margin-top: 0%;
                    text-align: center;
                    margin-bottom: 1%;
                    font-size: 350%;}
       
       #Busqueda {width: 70%;}
       #Cuadro {height: 60%;}

       #Input {width: 90%;}
       #Input > input {width: 98%;
                       height: 100%;
                       border: 0;
                       font-size: 140%;}

       #Lupa {width: 7%;}

       #Lupa > img {height: 80%;
                    padding-right: 0%;}

       #Iconos {width: 29%;}
       #Iconos1 {height: 50%;}

       #Iconos1_1, #Iconos1_2, #Iconos1_3 {width: 22%;
                                           height: 100%;}
       #Iconos2 > p {width: 25%;
                     font-size: 80%;
                     margin-top: 1%;}

       th {padding: 0%;}
       th > p {font-size: 120%;}

       #Iz_a > p {font-size: 150%;}
       #Medios_a > p {font-size: 150%;}
       #Dr_a > p {font-size: 150%;}

       #abajo1 > p {font-size: 160%;}
       #abajo2 > p {font-size: 160%;}

       #Recarga1 > p {font-size: 160%;}

       #Mapa1 > p {font-size: 160%;}
}
            margin-bottom: 2%;}
#Mapa2 {display: flex;}
#Mapa2 > img {flex: 0 0 100%;}
